@import 'tailwindcss';

.markdown-body {
    word-wrap: break-word;
    margin-left: 15rem;
    margin-top: 2rem;
    margin-right: 20rem;
}

.markdown-body h1 {
    @apply text-4xl font-bold mb-4 tracking-wide;
    font-family: var(--font-made-carving)
}

pre {
    margin-top: 1rem;
    background: black;
    padding: 1rem;
    border-radius: 0.5rem;
    overflow-x: auto;
    border: 1px solid grey;
}